@import "tailwindcss";

.hero-bg {
    background-image: linear-gradient(rgb(0,0,0,0.8),rgba(0,0,0,0.1)) ,url("hero.png");

}

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  

